<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Awal</title>
</head>
<body>
  <h1>{{ title }}</h1>
  {% if all_buku %}
  <table >
    <thead>
      <th>No</th>
      <th>Judul Buku</th>
      <th>Author</th>
      <th>Tahun</th>
    </thead>
    <tbody>
      {% for buku in all_buku %}
      <tr>
        
      <td>
        {{buku.no}}
      </td>
      <td>
        {{buku.judul}}
      </td>
      <td>
        {{buku.author}}
      </td>
      <td>
        {{buku.tahun}}
      </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  {% else %}
    <p>Tidak ada buku yang tersedia</p>
  {% endif %}
</body>
</html>